* {
  box-sizing: border-box;
}

/*home page */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: #fff;
  text-shadow: 3px 3px 20px #f40c80,
    -2px 1px 30px #ff99cc;
}

/* about me */
.resume {

  margin-left: 500px;

}

.p-t {
  width: 15%;
  background-color: #CC4949;
  border-radius: 20px;
  color: white;
  text-align: center;
  margin-left: 20%;
  margin-top: 80px;
  font-style: oblique;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
   rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
     rgba(0, 0, 0, 0.09) 0px 8px 4px,
   rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    position: relative;
   animation: ani;
   animation-iteration-count: infinite;
   animation-duration: 5s;
}
/* @keyframes ani {
  0%{background-color: red; left: 0;top:0}
  50%{background-color: yellow; left: 0px;top: 0;}
  
} */
@keyframes ani {
  from{left: 10px}
  to{left: 40%} 
}

.body {
  background-image: linear-gradient(rgb(185, 86, 157), rgb(198, 190, 190));
}

.bord {
  width: 10%;

}

.menu {
  float: right;
  width: 20%;
  text-align: center;
}

.menu a {
  background-color: #a456c9;
  padding: 8px;
  margin-top: 8px;
  display: block;
  width: 100%;
  color: rgb(18, 17, 17);
}

.p1 {
  margin-left: 300px;
  margin-right: 350px;
  text-align: center;

}


.main {
  float: right;
  width: 65%;
  padding: 0 20px;
  color: #000;
}

.left {
  background-color: #e5e5e5;
  float: right;
  width: 15%;
  padding: 6px;
  margin-top: 8px;
  text-align: center;
}

.foot {
  background-color: rgb(245, 242, 234);
  text-align: center;
  border: 2cap;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;

}

/* For mobile phones: */
/* @media only screen and (max-width: 620px) {

  .menu,
  .main,
  .right {
    width: 100%;
  }
} */


/* contact form css */

form {
  max-width: 420px;
  margin: 50px auto;
}

.feedback-input {
  color: rgb(119, 87, 87);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  /* line-height: 22px; */
  background-color: transparent;
  border: 2px solid #CC6666;
  transition: all 0.5s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  /* outline:0; */
}

.feedback-input:focus {
  border: 2px solid #CC4949;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background: #CC6666;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.5s;
  margin-top: -4px;
  font-weight: 700;
}

[type="submit"]:hover {
  background: #CC4949;
}